.gb-header-top_denmoc-taikhoan{
  .btn-default {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    &:hover{
      background: transparent;
      border-color:  transparent;
    }
  }
}