.product-btn-cart_denmoc{
  .btn-cart-denmoc{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 0;
    background: $color-main-denmoc;
    i{
      font-size: 18px;
      color: #000;
    }
  }
}