.gb-video_denmoc{
    background: url("../images/bg-plax2.jpg") no-repeat center center;
  background-size: cover;
  padding:  50px 0;
  .gb-video_denmoc-title{
    margin-bottom: 30px;
    h2{
      display: block;
      font-size: 30px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
    }
  }
  .gb-video_denmoc-item{
    h3{
      a{
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #fff;
        padding-top: 15px;
      }
    }
    img{
      width: 100%;
      height: 241px;
    }
  }
}