.gb-product-sidebar-denmoc{
  .widget-title-sidebar-denmoc{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
    padding-left: 20px;
    background: rgba(158, 158, 158, 0.145);
    border-left: 5px solid #f79321;
  }
  .gb-product-sidebar_denmoc-item{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e0e0e0;
    &:last-child{
      border-bottom: none;
    }
    .gb-product-sidebar_denmoc-item-img{
      float: left;
      border: 1px solid #E0E0E0;
      img{
        width: 60px;
        height: 60px;
        overflow: hidden;
      }
    }
    .gb-product-sidebar_denmoc-item-info{
      padding-left: 80px;
      h4{
        a{
          display: block;
          font-size: 14px;
          line-height: 21px;
          color: #333;
          font-weight: 500;
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
      .prices_denmoc{
        font-size: 14px;
        text-align:  left;
      }
    }
  }
}