.gb-recenpost-sidebar-denmoc{
  .widget-title-sidebar-denmoc{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
    padding-left: 20px;
    background: rgba(158, 158, 158, 0.145);
    border-left: 5px solid #f79321;
  }
  .gb-blog-left-recent-posts_denmoc{
    ul{
      padding: 0;
      li{
        list-style-type: none;
        clear: both;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #eee;
        &:first-child{
          padding-top: 0;
          border:none;
        }
        .gb-item-recent-posts_denmoc{
          .gb-item-recent-posts_denmoc-img{
            float: left;
            margin-right: 20px;
            position: relative;
            img{
              width: 70px;
              height:70px;
              border-radius: 3px;
            }
          }
          .gb-item-recent-posts_denmoc-text{
            padding-left: 90px;
            h2{
              margin: 0;
              a{
                font-size: 14px;
                font-weight: bold;
                line-height: 1.57;
                text-align: left;
                color: #222222;
                overflow: hidden;
                display: block;
                margin-bottom: 10px;
                &:hover{
                  text-decoration: none;
                  color: $color-main-denmoc;
                }
              }
            }
            .gb-item-recent-post-time_denmoc{
              span{
                .fa{
                  font-family: 'FontAwesome';
                  font-size: 14px;
                  text-align: left;
                  color: $color-main-denmoc;
                  margin-right: 10px;
                }
                font-size: 13px;
                line-height: 2;
                text-align: left;
                color: #aeaeae;
              }
            }
          }
        }
      }
    }
  }
}